Repository kubernetes-sigs/secrets-store-csi-driver, pull requests merged in 2020-09, with the labels that each got.

#280 feat: grpc support for driver-provider communication
  Makefile
  apis/v1alpha1/secretproviderclasspodstatus_types.go
  cmd/secrets-store-csi-driver/main.go
  config/crd/bases/secrets-store.csi.x-k8s.io_secretproviderclasspodstatuses.yaml
  go.mod
  go.sum
  manifest_staging/charts/secrets-store-csi-driver/templates/secrets-store.csi.x-k8s.io_secretproviderclasspodstatuses.yaml
  manifest_staging/deploy/secrets-store.csi.x-k8s.io_secretproviderclasspodstatuses.yaml
  pkg/csi-common/server.go
  pkg/secrets-store/errors.go
  pkg/secrets-store/nodeserver.go
  pkg/secrets-store/nodeserver_test.go
  pkg/secrets-store/provider_client.go
  pkg/secrets-store/provider_client_test.go
  pkg/secrets-store/secrets-store.go
  pkg/secrets-store/utils.go
  pkg/secrets-store/utils_test.go
  provider/fake/fake_server.go
  provider/v1alpha1/service.pb.go
  provider/v1alpha1/service.proto
  test/sanity/sanity_test.go
Labels: approved, cncf-cla: yes, lgtm, size/XXL

#309 test: update test for secret with multiple owner references
  test/bats/azure.bats
  test/bats/tests/azure/nginx-deployment-two-synck8s-azure.yaml
  test/bats/tests/vault/nginx-deployment-two-synck8s.yaml
  test/bats/vault.bats
Labels: approved, cncf-cla: yes, lgtm, size/L

#313 chore: update crd apiversion to apiextensions.k8s.io/v1
  Makefile
  config/crd/bases/secrets-store.csi.x-k8s.io_secretproviderclasses.yaml
  config/crd/bases/secrets-store.csi.x-k8s.io_secretproviderclasspodstatuses.yaml
  kind-config.yaml
  manifest_staging/charts/secrets-store-csi-driver/templates/secrets-store.csi.x-k8s.io_secretproviderclasses.yaml
  manifest_staging/charts/secrets-store-csi-driver/templates/secrets-store.csi.x-k8s.io_secretproviderclasspodstatuses.yaml
  manifest_staging/deploy/secrets-store.csi.x-k8s.io_secretproviderclasses.yaml
  manifest_staging/deploy/secrets-store.csi.x-k8s.io_secretproviderclasspodstatuses.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XL

#314 feat: add managed label to secret created by driver
  controllers/secretproviderclasspodstatus_controller.go
  test/bats/azure.bats
  test/bats/vault.bats
Labels: approved, cncf-cla: yes, lgtm, size/S

#311 docs: add known limitations docs
  README.md
  docs/README.limitations.md
Labels: approved, cncf-cla: yes, lgtm, size/S

#312 chore: set resource limits in deploy and charts
  manifest_staging/charts/secrets-store-csi-driver/README.md
  manifest_staging/charts/secrets-store-csi-driver/templates/secrets-store-csi-driver-windows.yaml
  manifest_staging/charts/secrets-store-csi-driver/templates/secrets-store-csi-driver.yaml
  manifest_staging/charts/secrets-store-csi-driver/values.yaml
  manifest_staging/deploy/secrets-store-csi-driver-windows.yaml
  manifest_staging/deploy/secrets-store-csi-driver.yaml
Labels: approved, cncf-cla: yes, lgtm, size/L

#316 chore: bump version to v0.0.14 and update debian base to buster-v1.2.0
  Makefile
  docker/BASEIMAGE
  docker/Dockerfile
  docker/Makefile
Labels: approved, cncf-cla: yes, lgtm, size/XS

#318 release: update manifest and helm charts for v0.0.14
  charts/index.yaml
  charts/secrets-store-csi-driver-0.0.14.tgz
  charts/secrets-store-csi-driver/Chart.yaml
  charts/secrets-store-csi-driver/README.md
  charts/secrets-store-csi-driver/templates/secrets-store-csi-driver-windows.yaml
  charts/secrets-store-csi-driver/templates/secrets-store-csi-driver.yaml
  charts/secrets-store-csi-driver/templates/secrets-store.csi.x-k8s.io_secretproviderclasses.yaml
  charts/secrets-store-csi-driver/templates/secrets-store.csi.x-k8s.io_secretproviderclasspodstatuses.yaml
  charts/secrets-store-csi-driver/values.yaml
  deploy/secrets-store-csi-driver-windows.yaml
  deploy/secrets-store-csi-driver.yaml
  deploy/secrets-store.csi.x-k8s.io_secretproviderclasses.yaml
  deploy/secrets-store.csi.x-k8s.io_secretproviderclasspodstatuses.yaml
  manifest_staging/charts/secrets-store-csi-driver/Chart.yaml
  manifest_staging/charts/secrets-store-csi-driver/README.md
  manifest_staging/charts/secrets-store-csi-driver/templates/secrets-store-csi-driver-windows.yaml
  manifest_staging/charts/secrets-store-csi-driver/values.yaml
  manifest_staging/deploy/secrets-store-csi-driver-windows.yaml
  manifest_staging/deploy/secrets-store-csi-driver.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XL

#317 docs: add doc for new provider gRPC
  README.md
  docs/README.new-provider.md
Labels: approved, cncf-cla: yes, kind/documentation, lgtm, size/S

#308 feat: add unit tests for secrets-store pkg
  pkg/secrets-store/mocks/stats_reporter_mock.go
  pkg/secrets-store/nodeserver.go
  pkg/secrets-store/nodeserver_test.go
  pkg/secrets-store/secrets-store.go
  pkg/secrets-store/stats_reporter.go
  pkg/secrets-store/utils_test.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/L
