Repository kubernetes-sigs/secrets-store-csi-driver, pull requests merged in 2023-11, with the labels that each got.

#1368 chore: update to go 1.21
  .local/Dockerfile
  Makefile
  docker/Dockerfile
  docker/crd.Dockerfile
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  test/e2eprovider/go.mod
  test/e2eprovider/go.sum
Labels: kind/feature, cncf-cla: yes, approved, lgtm, size/M

#1358 fix: remove hardcoded driver name
  cmd/secrets-store-csi-driver/main.go
  controllers/secretproviderclasspodstatus_controller.go
  controllers/secretproviderclasspodstatus_controller_test.go
  pkg/rotation/reconciler.go
  pkg/rotation/reconciler_test.go
  pkg/util/k8sutil/volume.go
  pkg/util/k8sutil/volume_test.go
Labels: kind/bug, cncf-cla: yes, approved, ok-to-test, lgtm, size/S

#1376 chore: bump version to v1.4.0 in release-1.4
  Makefile
  docker/Makefile
Labels: cncf-cla: yes, size/XS, approved, lgtm

#1377 Automated cherry pick of #1375: release: update manifest and helm charts for v1.4.0
  charts/secrets-store-csi-driver/Chart.yaml
  charts/secrets-store-csi-driver/README.md
  charts/secrets-store-csi-driver/crds/secrets-store.csi.x-k8s.io_secretproviderclasses.yaml
  charts/secrets-store-csi-driver/crds/secrets-store.csi.x-k8s.io_secretproviderclasspodstatuses.yaml
  charts/secrets-store-csi-driver/templates/role-secretproviderclasspodstatuses-viewer.yaml
  charts/secrets-store-csi-driver/templates/secrets-store-csi-driver-windows.yaml
  charts/secrets-store-csi-driver/templates/secrets-store-csi-driver.yaml
  charts/secrets-store-csi-driver/values.yaml
  deploy/role-secretproviderclasspodstatuses-viewer.yaml
  deploy/secrets-store-csi-driver-windows.yaml
  deploy/secrets-store-csi-driver.yaml
  deploy/secrets-store.csi.x-k8s.io_secretproviderclasses.yaml
  deploy/secrets-store.csi.x-k8s.io_secretproviderclasspodstatuses.yaml
  manifest_staging/charts/secrets-store-csi-driver/Chart.yaml
  manifest_staging/charts/secrets-store-csi-driver/README.md
  manifest_staging/charts/secrets-store-csi-driver/values.yaml
  manifest_staging/deploy/secrets-store-csi-driver-windows.yaml
  manifest_staging/deploy/secrets-store-csi-driver.yaml
Labels: cncf-cla: yes, size/L, approved, lgtm

#1375 release: update manifest and helm charts for v1.4.0
  Makefile
  charts/secrets-store-csi-driver/Chart.yaml
  charts/secrets-store-csi-driver/README.md
  charts/secrets-store-csi-driver/crds/secrets-store.csi.x-k8s.io_secretproviderclasses.yaml
  charts/secrets-store-csi-driver/crds/secrets-store.csi.x-k8s.io_secretproviderclasspodstatuses.yaml
  charts/secrets-store-csi-driver/templates/role-secretproviderclasspodstatuses-viewer.yaml
  charts/secrets-store-csi-driver/templates/secrets-store-csi-driver-windows.yaml
  charts/secrets-store-csi-driver/templates/secrets-store-csi-driver.yaml
  charts/secrets-store-csi-driver/values.yaml
  deploy/role-secretproviderclasspodstatuses-viewer.yaml
  deploy/secrets-store-csi-driver-windows.yaml
  deploy/secrets-store-csi-driver.yaml
  deploy/secrets-store.csi.x-k8s.io_secretproviderclasses.yaml
  deploy/secrets-store.csi.x-k8s.io_secretproviderclasspodstatuses.yaml
  docker/Makefile
  manifest_staging/charts/secrets-store-csi-driver/Chart.yaml
  manifest_staging/charts/secrets-store-csi-driver/README.md
  manifest_staging/charts/secrets-store-csi-driver/values.yaml
  manifest_staging/deploy/secrets-store-csi-driver-windows.yaml
  manifest_staging/deploy/secrets-store-csi-driver.yaml
Labels: kind/feature, cncf-cla: yes, size/L, approved, lgtm

#1379 docs: update supported releases - v1.3.x and v1.4.x
  docs/book/src/introduction.md
Labels: cncf-cla: yes, size/XS, approved, kind/documentation, lgtm
